.Nav {
  background-color: rgb(255, 0, 0);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  top: 0;
  left: 0;
}

img {
  height: 1.5cm; /* Ajusta la altura de la imagen a 1.5 cm */
  margin-right: 10px; /* Agrega un margen a la derecha de la imagen */
}

/* Estilos para los enlaces y otros elementos dentro de la barra de navegación */
.Nav > * {
  display: inline-block; /* Hace que los elementos se muestren en línea como bloques */
  margin: 0 10px; /* Agrega margen horizontal entre elementos */
}

/* Estilos para los enlaces */
a {
  text-decoration: none;
  color: white; /* Cambiado a blanco para que coincida con el texto de la barra de navegación */
}

a:hover {
  text-decoration: underline; /* Subraya los enlaces al pasar el ratón por encima */
}
